{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["jest"],
  "env": {"jest": true},
  "rules": {
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "no-underscore-dangle": "off",
  }
}
